<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h2>{{entryDate | date:'EEEE dd MMMM yyyy'}}</h2>
</div>

<div class="row marketing">
    <div class="col-md-8">
        <div ng-controller="entriesViewCtrl" entries-view="0"></div>
        <div ng-controller="addEntryFormCtrl" add-entry-form="0"></div>
    </div>
    <div class="col-md-4">
        <div ng-controller="calendarCtrl" id="calendar" data-selected-date="{{selectedDate}}">
            <div ui-calendar="uiConfig.calendar" ng-model="calendarEvents" calendar="dateCalendar"></div>
        </div>
        <dl id="projectTotals">
            <dt ng-repeat-start="project in projectTotals">{{project.projectCode}}</dt>
            <dd ng-repeat-end>{{project.totalHours | number: 2}}</dd>
        </dl>
        <dl id="stats">
            <dt ng-class="{hoursalert: getHoursWorked() >= 10, hourswarning: getHoursWorked() > 8.5}">Hours worked:</dt>
            <dd>{{getHoursWorked() | number: 2}}</dd>
            <dt ng-class="{hoursalert: getHoursWorked() < 7.5, hourswarning: getHoursWorked() < 8}">Hours remaining:</dt>
            <dd>{{8 - getHoursWorked() | number: 2}}</dd>
            <dt>This week:</dt>
            <dd>{{ getTotalThisWeek() | number: 2}}</dd>
        </dl>
    </div>
</div>

<div class="footer">
    <p>&copy; 2014 Sandy Drew</p>
</div>
